-r requirements.txt

# action to create report PR
pytablewriter

# lint/format/types
black==22.6.0
flake8==5.0.4
pytype==2022.8.3
pytest-mock~=3.8.2
# for database cleanup during testing
sqlalchemy~=1.4.39

# install & pin for networkx
decorator==5.1.1
